@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

code, pre, .highlighter-rouge {
  font-family: 'JetBrains Mono', monospace;
}

.highlighter-rouge {
  border-radius: 0.5rem;
}

.side-bar {
  width: 16.5rem;
  max-width: unset;
}
.site-title {
  padding: 10px;
}
#top {
  max-width: unset;
  margin-left: 16.5rem;
  margin-right: 0px;
}

.table-wrapper {
  width: fit-content;
}
table {
  min-width: 20%;
  border-collapse: collapse;
}
td {
  background-color: #34313a;
}

@media (max-width: 800px) {
  .side-bar {
    width: unset;
  }
  #top {
    margin-left: 0px;
  }
}

.side-bar {
  background: #1c1b1f;
}

a {
  color: #499bdc;
}

div.highlighter-rouge > button, div.listingblock > div.content > button, figure.highlight > button {
    border-radius: 1rem;
}

.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
    color: #959396;
    border-radius: 0.5rem;
}

.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
  background: #131316;
}
.nav-list-link {
    margin-bottom: 5px;
    border-radius: 0.5rem;
}
.nav-list {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    margin-right: 6px;
    margin-left: 6px;
    border-radius: 0.5rem;
}

code.language-plaintext.highlighter-rouge {
    padding-left: 7px;
    padding-right: 7px;
}

.highlighter-rouge:has(.highlight) {
    border: 1px solid #444752;
    overflow: hidden;
    border-radius: 10px;
}

div#search-results {
    border-radius: 10px;
    margin-top: 20px;
    background: #1b1b1e;
}

/*input#search-input {
    border-radius: 10px;
    background: #1b1b1e;
}*/
